@model IEnumerable<DEV_3.Model._AccountViewModel>

@{Layout = "~/Views/Shared/PersonDashboard.cshtml";}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Accounts</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.account_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.outstanding_balance)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.account_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.outstanding_balance)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.code }) |
                    @Html.ActionLink("Details", "Details", new { id = item.code }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.code })
                </td>
            </tr>
        }

    </table>
</body>
</html>
