<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scelo T Nyembe</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/Templates/Home/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/Templates/Home/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Templates/Home/lib/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/Templates/Home/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Imperial
      Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <div id="preloader"></div>

    <!--==========================
    Hero Section
    ============================-->
    <section id="hero">
        <div class="hero-container">
            <div class="wow fadeIn">
                <div class="hero-logo">
                    <img class="" src="~/Content/Templates/Home/img/logo.png" alt="Imperial">
                </div>

                <h1>Welcome to Thulani's studio</h1>
                <h2>We create <span class="rotating">beautiful graphics, functional websites, working mobile apps</span></h2>
                <div class="actions">
                    <a href="#about" class="btn-get-started">Get Strated</a>
                    @*<a href="#services" class="btn-services">Our Services</a>*@
                </div>
            </div>
        </div>
    </section>

    <!--==========================
    Header Section
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#hero"><img src="~/Content/Templates/Home/img/logo.png" alt="" title="" /></img></a>
                <!-- Uncomment below if you prefer to use a text image -->
                <!--<h1><a href="#hero">Header 1</a></h1>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#hero">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>

                    <li><a @Html.Partial("_LoginPartial")</a></li>



                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->
    <!--==========================
    About Section
    ============================-->
    <section id="about">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">About Thulani.</h3>
                    <div class="section-title-divider"></div>

                </div>
            </div>
        </div>
        <div class="container about-container wow fadeInUp">
            <div class="row">

                <div class="col-lg-6 about-img">
                    <img src="~/Content/Templates/Home/img/t1.jpg" alt="">
                </div>

                <div class="col-md-6 about-content">
                    <p>
                        I was born and raised in Newcastle which is based in Kwazulu Natal,South Africa.I matriculated in the year 2013
                        from Sesiyabong technical high school , I merged in Mathematics ,Phyical Sciences ,Life Sciences and
                        Information Technology.

                        I Enrolled at the Durban University of Technology(DUT) for the national diploma in Information Technology in the year
                        2014, and that was the beggiging of this great journey.

                        I was involved in many school projects and that is where I learned a lot from the software development enviroment. I
                        completed my Diploma in a record time with an avarage of 70%, I went for Bachelors degrees in IT at the same institute
                        in 2017 which I completed in the same year.

                    </p>
                    <p>
                        I started working at DUT as a JAVA and C#  tutor for 1st year students while i was doing my 2nd year in 2015.
                        On my 4th year at DUT , i was a part time tutor again for 2nd year students working for the company called Centre for
                        Excellent in Learning and Teaching (CELT).

                        In April 2017 , i started working for OLUMS as a software tester intern , we basically worked with developers in India and we
                        were making sure that the software being built is of high quality and it meet client requirements.
                        January 2018 ,I changed my career path and went for software develement at XCallibre which is based in Morningside ,Durban.
                        I enjoyed my time there because i was actually doing what I am good at and what I really enjoy. Unfortunately , the IT industry
                        is fast-paced and Artificial Intellegence(AI) is taking over everything, I had to look for better opportunities which will expose
                        me in the AI and machine learning field,I left Xcallibre and join Blake which is based in Mout Edgecombe,Durban where I currently
                        work as Junior Data engineer.
                    </p>
                    <p>
                        I am huge soccer fan , I support Kaizer Chiefs,FC Barcelona and Manchester City.  I am a die hard Lionel Messi fan who is arguably
                        the greatest footballer of all time. I am also a good soccer player , playing both defensive and attacking midfielder.
                        I also like playing chess and spending time with family and friends.

                    </p>

                </div>
            </div>
        </div>
    </section>

    <!--==========================
    Services Section
    ============================-->

    @RenderBody()


    <!--==========================
    Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Contact Us</h3>
                    <div class="section-title-divider"></div>



                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-push-2">
                    <div class="info">
                        <div>
                            <a href="https://www.linkedin.com/in/scelo-t-nyembe-a1b6a497/"><i class="fa fa-linkedin"></i></a>
                            <p>Linked In</p>
                        </div>
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>11 Lanyon groove av<br>Durban, 4000</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>nyembest@gmail.com</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+2774 9605 164</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-5 col-md-push-2">
                    <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" style="position:fixed;bottom:0;width:100%">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        &copy; Copyright <strong>Scelo T Nyembe</strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Required JavaScript Libraries -->
    <script src="~/Content/Templates/Home/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/Templates/Home/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Templates/Home/lib/superfish/hoverIntent.js"></script>
    <script src="~/Content/Templates/Home/lib/superfish/superfish.min.js"></script>
    <script src="~/Content/Templates/Home/lib/morphext/morphext.min.js"></script>
    <script src="~/Content/Templates/Home/lib/wow/wow.min.js"></script>
    <script src="~/Content/Templates/Home/lib/stickyjs/sticky.js"></script>
    <script src="~/Content/Templates/Home/lib/easing/easing.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="~/Content/Templates/Home/js/custom.js"></script>

    <script src="~/Content/Templates/Home/contactform/contactform.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>


